*.iml
.gradle
/local.properties
/gradle.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/ic_launcher-web.png
/fastlane/report.xml

# not ignore
!.idea/icon.png
!.idea/icon_dark.png
